@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@media only screen and (max-width: 768px) {
  .filter-wrapp{
    width: 100% !important;
    height: 120px !important;
  }
  .filter-wrapp_active{
    width: 100% !important;
    height: 270px !important;
  }
  .mana_rarity_active{
    display: grid !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 1 !important;
    -webkit-transition: opacity 0.5s linear !important;
    transition: opacity 0.5s linear !important;
  }
  .btn-container{
    width: 100% !important;
  }
}
@media only screen and (max-width: 640px) {
  .filter-wrapp{
    width: 100% !important;
    height: 120px !important;
  }
  .filter-wrapp_active{
    width: 100% !important;
    height: 400px !important;
  }
  .mana_rarity_active{
    display: grid !important;
    align-items: center !important;
    justify-content: center !important;
    opacity: 1 !important;
    -webkit-transition: opacity 0.5s linear !important;
    transition: opacity 0.5s linear !important;
  }
  .btn-container{
    width: 100% !important;
  }
}

body {
  margin: 0 auto;
  font-family: sans-serif;
  background: #373737;
  color: #000;
}

/*header and showcase */
.showCase {
  min-height: 300px;
  color: #fff;
  text-align: center;
}

.bg-image {
  position: absolute;
  background: #333 url(https://hdqwalls.com/download/hearthstone-the-witchwood-key-art-bk-7680x4320.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  z-index: -1;
  /*This is to make the image go behind the elements infront in the showcase*/
  opacity: 0.8;
}

.showCase h1 {
  padding-top: 0;
  padding-bottom: 0;
}

.header-content {
  padding: 50px 0;
}

.header-content h1 {
  margin: 15px;
  padding: 0 1em;
}

.header-content p {
  margin: 15px;
  padding: 0 1em;
}

/*search input */

.search_box {
  display: inline-block;
  height: 34px;
  max-width: 600px;
  width: 80%;
  align-items: center;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
}

/*Filter wrapper styling*/
.filterItem {
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
  transition: 0.2s;
}

.filterItem:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.2s;
}

.filterItem_active {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.filter-wrapp {
  width: 800px;
  height: 60px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #fff;
  -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: height 0.5s;
}

.filter-wrapp_active {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-top: none;
  -webkit-transition: height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: height 0.5s;
}

#class-container img {
  padding: 5px;
  cursor: pointer;
}

#class-container img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*Mana AND Rarity styling
*
*
*
*/
.mana_rarity{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.mana_rarity_active{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.mana_icon {
  height: 48px;
  width: 48px;
  padding: 2px;
  cursor: pointer;
}

.mana_icon:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.rarity_icon {
  height: 40px;
  width: 27px;
  padding: 2px;
  cursor: pointer;
}

.rarity_icon:hover {
  transform: scale(1.1);
}
/*END Mana AND Rarity styling
*
*
*
*/

.format_sets{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.format_sets_active{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  -webkit-transform: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.sets_container{
  height: 30px;
  width: 300px;
  margin: 15px 10px;
  font-size: 15px;
  color: grey;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
}

.formats_container{
  height: 30px;
  width: 300px;
  margin: 15px 10px;
  font-size: 15px;
  color: grey;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  background: transparent;
}
.btn-container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.arrow {
  height: 17px;
  width: 15px;
  margin: 0 5px;
  padding: 0 5px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow:hover{
  cursor: pointer;
}

.arrow_active{
  height: 17px;
  width: 15px;
  margin: 0 5px;
  padding: 0 5px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow_active:hover{
  cursor: pointer;
}

.filterbtn{
  font-family: sans-serif;
  font-size: 11px;
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: .5em 4px;
}

.filterbtn:hover{
  background: #253d90;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.hide{
  display: none;
}

#Cards_Container{
  min-height: 800px;
  text-align: center;
}
.card_img{
  height: 350px;
  width: 256px;
}

.card_imgGolden {
  margin: -10px 0 -15px 0;
  height: 385px;
  width: 269px;
}
#Cards_Container img:hover{
  cursor: pointer;
}

.loadbtn{
  font-family: sans-serif;
  font-size: 12px;
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 1em;
  border: 1px solid #666;
  margin-top: 10px;
}

.loadbtn:hover{
  background: #253d90;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

footer{
  text-align: center;
}

footer p{
  color: #fff;
  font-size: 13px;
  line-height: 0;
  padding-top: 10px;
}

footer a{
  color: #8d84f6;
  text-decoration: none;
}
